header {
    max-width: 940px;
    margin: 0;
    background-image: url("../images/background.jpg");
    background-size: 940px 300px;
    height: 300px;
    text-shadow: 2px 1px 5px black;
}

body {
    max-width: 940px;
    margin: 0 auto;
}


header h1 {
    color: white;
}

header h2 {
    color: white;
}

main h2 {
    background-color: teal;
}

#ribbon {
    size: 100px 150px;
}

footer {
    background-color: teal;
}